main > form {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0vh;
}

form > input {
	border-radius: 0;
	box-shadow: 0 -3px 10px 0 rgba(20,20,20,.4);
}

form > input:focus {
	border-radius: 5px;
	border: 1px solid #0b0;
}