li {
   display: flex;
   /*---------------*/
   margin-bottom: 1px;
   padding: 10px;
   background-color: #2c2c2c;
   box-sizing: border-box;
   /*---------------*/
   align-items: center;
}

li > span.check {
   margin-right: 10px;
   font-size: 30px;
   color: #e6b800;
}

li > span.delete {
   margin-left: 5px;
   font-size: 30px;
   color: #a00;
}

li > span.text {
   width: 75%;
   font-size: 15px;
   color: #ddd;
   word-spacing: 1px;
   letter-spacing: .5px;
   box-sizing: border-box;
   word-wrap: break-word;
   /*---------------*/
   flex: 1
}