@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	margin: 0;
	background-color: #1d1d1d;
	font-family: Lato, sans-serif;
}

input {
	width: 100%;
	padding: 1.5vh 15px;
	background-color: #222;
	color: #DDD;
	font-size: 15px;
	font-family: Lato;
	outline: none;
	border: 1px solid transparent;
	box-sizing: border-box;
}

input::placeholder { font-style: italic }