@media(min-height: 580px) {
	main {
		height: 80vh;
		overflow: scroll;
		/*---------------*/
		grid-column: 2 / -2
	}
}

@media(min-height: 731px) {
	main {
		height: 81.5vh;
		overflow: scroll;
		/*---------------*/
		grid-column: 2 / -2
	}

	li > span.text { font-size: 16px }
}

@media(min-height: 960px) {
	header > h1 { font-size: 24px }

	main {
		height: 81vh;
		overflow: scroll;
		/*---------------*/
		grid-column: 2 / -2
	}

	input { font-size: 20px }

	li { padding: 1.5vh 20px }

	li > span.check { margin-right: 2vh; font-size: 40px; }

	li > span.text { font-size: 20px }

	li > span.delete { margin-left: 1.75vh; font-size: 40px; }
}